workflows/.Radar de Alertas (Detección de Transacciones Anómalas)json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "id": "10da524a-d792-4a5b-9b49-48591f6556c5",
      "name": "Boton de Prueba",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        160
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dqufAPEU1_0Q1s1LanaWlMljJjc0mc8BhYPI-Lc_I5M",
          "mode": "list",
          "cachedResultName": "Movimientos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqufAPEU1_0Q1s1LanaWlMljJjc0mc8BhYPI-Lc_I5M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqufAPEU1_0Q1s1LanaWlMljJjc0mc8BhYPI-Lc_I5M/edit#gid=0"
        },
        "options": {}
      },
      "id": "5085f2ab-e683-414f-b093-0de26962be57",
      "name": "Leer Movimientos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -544,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "D90eQ6oZrLYLHFQ5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "eb3af889-69f9-4d2a-84b4-d6217cf48143",
              "leftValue": "={{ Number($json.Monto) }}",
              "rightValue": 1000000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c072b7bf-2a18-4572-96e0-70abb6da7669",
      "name": "Es mayor a 1M?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        160
      ]
    },
    {
      "parameters": {
        "chatId": "5421736064",
        "text": "=🚨 *ALERTA DE MILLONES*|Cliente:  {{ $('Leer Movimientos').item.json.Cliente }} Monto: {{ $('Leer Movimientos').item.json.Monto }} $ Tipo: {{ $('Leer Movimientos').item.json.Tipo }} ¡Llamar ahora!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "9520bffd-19e1-4306-a000-03623b981be5",
      "name": "Alerta Roja",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -80,
        48
      ],
      "webhookId": "04552c84-16bd-4bef-a487-8b70a64b720e",
      "credentials": {
        "telegramApi": {
          "id": "kE427xzCANNmncje",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Boton de Prueba": {
      "main": [
        [
          {
            "node": "Leer Movimientos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Movimientos": {
      "main": [
        [
          {
            "node": "Es mayor a 1M?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es mayor a 1M?": {
      "main": [
        [
          {
            "node": "Alerta Roja",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e71a9044-f9f5-4bf9-944b-5f64dc197f71",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc8429fae6ee485498e1025364d78b7c48c22030bb5f6b44a0ec4cc95c4afa10"
  },
  "id": "ogTQdzXGdT9SdNuz",
  "tags": []
}
