workflows/My workflow 3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1RI2QTlLLQ-HRHog2-58Lcf_Zac14fnf1",
          "mode": "list",
          "cachedResultName": "LEGAJOS_A_AUDITAR.",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1RI2QTlLLQ-HRHog2-58Lcf_Zac14fnf1"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "8f7c09d2-5aeb-45f2-86b1-a1439539a83b",
      "name": "1. Carpeta Legajos",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zujNNm57EXqMGpyu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "5c4b24dc-ecfd-459d-92b4-a8cc140f5180",
      "name": "2. Descargar Archivo",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -592,
        160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zujNNm57EXqMGpyu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.validacion }}",
              "value2": "RECHAZADO"
            }
          ]
        }
      },
      "id": "692d33b6-d6e5-42dc-b927-1e3bf2e95d18",
      "name": "4. Es Rechazado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        352,
        160
      ]
    },
    {
      "parameters": {
        "chatId": "5421736064",
        "text": "🚨 *AUDITORÍA: DOCUMENTO RECHAZADO*\n\n📄 Tipo: {{ $json.tipo_documento }}\n❌ Motivo: {{ $json.razon_rechazo }}\n\n_Por favor solicitar nuevo documento al cliente._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "17696d8d-e3a1-40b4-873d-32e5f3f66e24",
      "name": "5. Alerta Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1168,
        48
      ],
      "webhookId": "60476bcc-fccc-4dc6-8de4-d5f4bf8111df",
      "credentials": {
        "telegramApi": {
          "id": "kE427xzCANNmncje",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Analiza la imagen adjunta. Identifica si es un DNI o Recibo.\nResponde ÚNICAMENTE con el objeto JSON crudo.\nNO uses formato markdown (como ```json).\nNO agregues texto antes ni después. Solo las llaves { }.\n\nEstructura obligatoria:\n{\n\"tipo\": \"DNI/Recibo\",\n\"legible\": true,\n\"estado\": \"APROBADO\" o \"RECHAZADO\",\n\"motivo\": \"explicación breve\"\n}",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -384,
        160
      ],
      "id": "05a5757b-8ec8-45ed-b7a8-fcfb37f3d2ba",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "Xa5dwEc3dCk4Yyc8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c1ccdf9-9146-467d-95b4-85d046f36c3c",
              "name": "validacion",
              "value": "={{ JSON.parse($json['0'].content[0].text).estado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        160
      ],
      "id": "2b40f7ab-0dc2-41f8-ba62-193cea0080e4",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "1. Carpeta Legajos": {
      "main": [
        [
          {
            "node": "2. Descargar Archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Descargar Archivo": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Es Rechazado?": {
      "main": [
        [
          {
            "node": "5. Alerta Telegram",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "4. Es Rechazado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e901895b-dc18-46b2-b208-547b6bf03137",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc8429fae6ee485498e1025364d78b7c48c22030bb5f6b44a0ec4cc95c4afa10"
  },
  "id": "jzLukpFlafTbHopw",
  "tags": []
}